
body{
    margin: 0;
    line-height: 1.5;
}


html{
     font-family: 'Poppins', sans-serif;
    
}
/* Root */
:root{
  --Pink: hsl(322, 100%, 66%);
  --Light: hsl(321, 100%, 78%);
 --LightRed: hsl(0, 100%, 63%);
 --VeryDarkCyan: hsl(192, 100%, 9%);
 --VeryPaleBlue: hsl(207, 100%, 98%);
}



.wrapper{
    display: grid;
    gap: 18.7rem;
}


/* Heading section */

header{
    padding: 2.8rem 3.7rem;
}

header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav img {
    height: 2.1rem;
}

header nav a {
    text-decoration: none;
    padding: 0.75rem 2.5rem;
    border: var(--Light) 2px solid;
    border-radius: 30px;
    color: var(--Light);
    font-weight: 700;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.heading-s{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heading-s .head{
    text-align: center;
    margin: 6.25rem 0;
}

.heading-s .head h2{
    font-size: 3.7rem;
}

.heading-s .head p {
    font-size: 1.4rem;
    width: 50%;
    margin-left: 21.8rem;
    margin-bottom: 70px;
}

.heading-s .head a {
    padding: 1.2rem 5rem;
    color: var(--VeryPaleBlue);
    background-color: var(--Pink);
    border-radius: 50px;
    text-decoration: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}


.statistics{
    margin-top: 6.2rem;
    display: flex;
    justify-content: space-between;
    gap: 31.2rem; 
}
.statistics .state{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.statistics .state img{
    height: 1.8rem;
    width: 2.5rem;
    align-self: flex-start;
}

.statistics .state h3{
    font-size: 5rem;
    margin: 0;
    font-weight: 600;
}

.statistics .state p{
    font-size: 1.1rem;
    font-weight: 500;
    color: #ddd;
    margin: 0;
}



/* Features Section */




.features{
    display: flex;
    flex-direction: column;
    gap: 9.3rem;
}

.features .top-section img{
    transform: translate(0px , 10rem);
    width: 100%;
}
.features .bottom-section img{
    transform: translate(0px , -10rem);
    width: 100%;
}

.feature{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 34.3rem;
    /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
    background-color: #f6fbff;
}

.feature .text-f{
    margin-left: 6.2rem;
    flex: 1; 
}

.feature .text-f h4{
    font-size: 2.5rem;
    margin: 0;
}
.feature .text-f p{
    width: 70%;
}


.feature .logo-f{
    flex: 1;
}

.feature .logo-f img{
    width: 85%;
}


 .feature:nth-child(4){
    flex-direction: row-reverse;
    margin: 0px 1.3rem;
    background-color:transparent;
 }
 .feature:nth-child(4) .text-f{
    margin-left: 7.5rem;
}

.feature:nth-child(4) .text-f p{
    width: 90%;
 }  







/* Footer section */





.footer-top{
    text-align: center;
    margin-bottom: 3.1rem;
}
.footer-top h4{
 font-size: 2rem;   
}
.footer-top a{
    padding: 1.2rem 5rem;
    color: var(--VeryPaleBlue);
    background-color: var(--Pink);
    border-radius: 3.1rem;
    text-decoration: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.curve-footer{
    transform: translate(0,13.1rem);
}
.curve-footer img{
    width: 100%;
}
.footer-bottom{
    background-color: var(--VeryDarkCyan);
    color: var(--VeryPaleBlue);
    margin-top: 12.5rem;
    display: flex;
    padding-top: 5rem;
    padding-bottom: 2.5rem;
    justify-content: space-between;
    gap: 9.3rem;
    align-items: center;
}


.footer-bottom .left{
    padding-left: 3.7rem;
    flex: 1;   
}


/* .footer-logo{
    background-color: white;
} */

.footer-bottom .left p{
    font-size: 1rem;
    width: 58%;
}
.footer-bottom .left .phone{
    display: flex;
    align-items: center;
    gap: 1.2rem;
}

.footer-bottom .left .email{
    gap: 1.2rem;
    display: flex;
    align-items: center;
}

.footer-bottom .left .social{
    padding: 2.5rem 0;
    margin-top: 3.1rem;
    display: flex;
    align-items: center;
    gap: 0.9rem;
}

.footer-bottom .right{
    padding-right: 3.7rem;
    flex: 1;
    align-self: flex-start;   
}
.footer-bottom .right h5{
    font-size: 1.5rem;
    font-weight: 500;
    padding: 0;
    margin: 0;
    text-transform: uppercase;
}
.footer-bottom .right p{
    font-size: 1rem;
    width: 60%;
    padding: 10px 0px 50px 0px;
}
.footer-bottom .right .form form{
    display: flex;
    align-items: center;
    gap: 1.8rem;
}
input[type=email]{
    height: 2.5rem;
    width: 58%;
    border-radius: 10px;
}

input[type=submit]{
    color: var(--VeryPaleBlue);
    background-color: var(--Pink);
    padding: 0.7rem 3.1rem;
    border-radius: 10px;
}









/* Resposive */







@media (max-width:376px){

    body{
        margin: 0;
    }
    
    /* Header  */

    header{
        padding:1rem 1rem;
 
    }
    header nav{
        justify-content: flex-start;
        align-items: center;
        gap: 8.4rem;
    }
    header nav img{
        height: 1.2rem;
    }
    header nav a{
        padding: 0.25rem 0.9rem;
        font-size: 0.7rem;
        font-weight: 500;
    }
    .heading-s{
        align-items : stretch
    }
    .heading-s .head{
        text-align: left;
        margin: 6.2rem 0;
        display: flex;
        flex-direction: column;
    }   

    .heading-s .head h2{
        font-size: 1.5rem;
        text-align: center;
    }
    .heading-s .head p{
        font-size: 0.9rem;
        width: 95%;
        text-align: center;
        margin: 0 0 4.4rem 0;
    }
    .heading-s .head a {

    padding: 0.75rem 2.5rem;
    width: 47%;
    margin-left:3.1rem;
    text-align: center;
    }

    .heading-s img{
        width: 21rem;
        height: auto;

    }


    .statistics{
        flex-direction: column;
        align-items: flex-start;
        gap: 12.5rem;
        margin-left: 20%;
    }


    /* Features section */
  
.features{
    display: flex;
    flex-direction: column;
    gap: 9.4rem;
}

.feature{
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: flex-start;
    height: 32.8rem;
}

.feature .text-f{
    margin-left: 1.2rem;
    margin-top: 3.1rem;
}


.feature .text-f h4{
   
    font-size: 1.6rem;
    text-align: center;
    
}
.feature .text-f p{
    text-align: center;
    width: 95%;
    font-size: 0.9rem;
}
.feature .logo-f{
 width: 100%;
 

}
.feature .logo-f img{
    margin-top: 7%;
    width: 80%;
    
}


.feature:nth-child(4){
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: center;
    height: 32.8rem;
    gap: 1.9rem;
 }
 .feature:nth-child(4) .text-f{
    margin-left: 1.2rem;
}

.feature:nth-child(4) .text-f p{
    text-align: center;
    width: 95%;
    font-size: 0.9rem;
 }  

 .feature:nth-child(4) .logo-f img{
    margin-left: 10%;
 }



/* Footer section */


.footer-top h4{
    font-size: 1.6rem;
}
.footer-top a{
    padding: 0.75rem 2.5rem;
}
.footer-bottom{
    flex-direction: column-reverse;
}
.footer-bottom .left{
    padding: 0 1.9rem;
}
.footer-logo{
    height: 1.9rem;
}

.footer-bottom .left p{
    font-size: 0.8rem;
    width: 95%;
    font-weight: 500;
}
.footer-bottom .left .social{
    padding: 0;

}

.footer-bottom .right{
    padding: 0 1.9rem;
}
.footer-bottom .right p{
font-size: 0.8rem;
width: 95%;

}
.footer-bottom .right .form form{
flex-direction: column;
    }
    input[type=email]{
        height: 2.8rem;
        width: 95%;

    }
    input[type=submit]{
        padding: 0.75rem 2.5rem;
        align-self: flex-end;
    }
}